.footer {
  .section-separator {
    width: 95%;
    height: 0.1rem;
    background-color: $lightGray;
    margin: 3rem 0;
  }

  &__lists {
    ul {
      list-style: none;
      a {
        color: $black;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: "Roboto";
      }

      > .links-item:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
    width: 90%;
    margin-bottom: 2rem;

    &-links {
      @include breakpoint-up(xlarge) {
        flex-direction: row;
        flex: 2;
        max-width: 55rem;
      }
    }

    &-social {
      @include breakpoint-up(xlarge) {
        flex-direction: row;
        flex: 1;
        max-width: 30rem;
      }
      .social-item {
        a {
          font-size: 1.7rem;
        }
      }
    }
  }

  #slack-link {
    color: $cyan;
  }

  .licence {
    font-family: "Roboto";
    color: $gray;
    margin: 1.5rem 0;
  }
}
