.hero {
  #hero-title {
    font-size: 3rem;
    color: $gray;
    margin-bottom: 2rem;
  }

  &__trips-section {
    @include breakpoint-up(large) {
      flex-direction: row;
      width: 90%;
      height: auto;

      .trip {
        width: 30%;
      }
    }
    height: 121vh;

    .trip {
      height: 24rem;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: flex-end;
      // box-shadow: inset 0px -58px 55px -10px $black;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
        width: 100%;
        height: 100%;
      }

      &-1 {
        background-image: url(../images/3.jpg);
      }
      &-2 {
        background-image: url(../images/4.jpg);
      }
      &-3 {
        background-image: url(../images/5.jpg);
      }

      h1 {
        color: $white;
        font-size: 3rem;
        font-weight: 500;
        margin: 0 0 1.5rem 1.5rem;
        z-index: 1;
      }
    }
  }

  &__missing-section {
    background-image: url(../images/6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3rem;
    width: 90%;
    height: 50vh;
    align-items: flex-end;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
      width: 100%;
      height: 100%;
    }

    .missing {
      margin: 0 0 1.5rem 1.5rem;
      z-index: 1;
      h1 {
        color: $white;
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      p {
        color: $white;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .cta-learnMore {
        font-family: "Roboto";
        color: $black;
        background-color: $white;
        width: fit-content;
        padding: 1rem 2rem;
        border-radius: 16px;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}
